.homepage {
  display: grid;
  grid-template-columns: .05fr 1fr;
  height: 100vh;
}

.icons {
  display: grid;
  align-content: center;
}

.homepage-content-container {
  margin: 0 8.5vmin 0 0;
}

button {
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 5px;
  font-size: 2vmin;
  border: none;
  padding: 1vmin;
  color: white;
}

.homepage-content-container > a > button {
  position: relative;
  bottom: -20px;
  margin-top: 2vmin;
}

button:hover {
  background-color: blue;
}

.homepage > div > div > h1 {
  font-size: 3.5vmin;
  color: rgba(0, 0, 0, 0.8);
  width: 45vw;
  margin: 5vmin auto 0;
}

.homepage > div > img {
  height: 30vmin;
  width: 30vmin;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: solid 1.5vmin rgba(0, 0, 100, 0.1);
  margin: 5vh auto 0;
}
.textbox {
  background-color: white;
  padding: 0.5vmin 5vmin ;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.5);
  border: solid 1vmin rgba(255, 255, 255, 0.5);
  margin-top: 2vmin;
}

.textbox > h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3vmin;
}

.textbox > p {
  font-size: 2.5vmin;
  padding-top: 2vmin;
}
.second-page {
  /* height: 100vh; */
  width: 100vw;
  /* background: linear-gradient(rgba(0, 0, 0, 0.9), */
  /* rgba(0, 0, 0, 0.2)), */
  /* url("../../../public/images/SF-GGB-background-image.avif"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}
.projects-container {
  grid-template-columns: 1fr 1fr;
  display: grid;
  height: 89vh;
}

.project-container {
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 10px;
  margin: 7vmin;
}

.project-container > a {
  margin: 0 2vmin 0;
}

.project-container > h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.5vmin;
}

.project-container > img {
  width: 30vmin;
}

ul > li {
  margin-right: 16px;
  font-size: 1.5vmin;
}

@media all and (max-width: 700px) {
  .homepage {
    height: 100vh;
  }

  .homepage > .icons {
    position: relative;
    display: grid;
    margin-top: 4vmin;
    align-content: start;
  }

  .homepage > div > div > h1 {
    font-size: 6vmin;
  }

  .homepage > div > img {
    margin-top: 7vmin;
    height: 50vmin;
    width: 50vmin;
  }

  .textbox > h3 {
    font-size: 5vmin;
  }

  .textbox > p {
    font-size: 4vmin;
  }

  .homepage-content-container > a > button {
    font-size: 4vmin;
  }

  .projects-container {
    grid-template-columns: 1fr;
    display: grid;
    height: 95vh;
  }

  .project-container > h3 {
    color: rgba(0, 0, 0, 0.8);
  }

  ul > li {
    font-size: 2vmin;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media all and (max-height: 700px) {

  .homepage {
    height: 100vh;
  }

  .homepage > .icons {
    position: relative;
    display: grid;
    margin-top: 4vmin;
    align-content: start;
  }

  .homepage > div > div > h1 {
    font-size: 5vmin;
  }

  .homepage > div > img {
    margin-top: 7vmin;
    height: 50vmin;
    width: 50vmin;
  }

  .textbox > h3 {
    font-size: 4.5vmin;
  }

  .textbox > p {
    font-size: 3.5vmin;
  }

  .homepage-content-container > a > button {
    font-size: 4vmin;
  }

  .projects-container {
    grid-template-columns: 1fr;
    display: grid;
    height: 95vh;
  }

  .project-container > h3 {
    color: rgba(0, 0, 0, 0.8);
  }

  ul > li {
    font-size: 1.5vmin;
    color: rgba(0, 0, 0, 0.6);
  }

  .project-container > a > button {
    font-size: 3vmin;
    margin: 0 1vmin 1vmin 1vmin;
  }
  .project-container {
    margin: 5vmin;
  }
}


